/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 62,5%;
  background: transparent;
  box-sizing: border-box;

  font-family: 'Inter', sans-serif;

  touch-action: none;

  cursor: default;
  user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
}

/* END: CSS Reset */

body {
    width: 100vw;
    height: 100vh;
    min-height: fit-content;

    font-size: 62.5%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-color: rgb(200, 199, 199);
}

body > h1 {
    font-size: 3rem;
    font-weight: 700;
    color: rgb(0, 0, 0);
}

canvas {
    z-index: 1;
}
/* ------ */

